<%= form_with(model: secret, data: { controller: "secret--encryptor" }) do |form| %>
  <% if secret.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
        <% secret.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.text_area :message,
      rows: "15x50",
      required: true,
      class: "block shadow-sm sm:text-sm rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-gray-900",
      data: { "secret--encryptor-target": "message" } %>
  </div>

  <div class="inline">
    <%= form.submit class: "bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring rounded-lg inline-block cursor-pointer", data: { action: "click->secret--encryptor#encrypt" } %>
  </div>
<% end %>
